// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.failed_table td {
  background-color: #FF0000;
}

.customer_name {
  color: #FF0000;
}

.disputed_table td {
  background-color: #FF5400;
}